<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Test HTML</title>
	</head>
    <body>
    <div class="container">
    	<div class="row">
        	<div class="col-lg-8  offset-lg-2">
            	<img src="{{ url_for('video_feed') }}" width="90%">
				<form method="post" action="/">
					<input type="submit" value="Push Up" name="submit_btn"/>
					<input type="submit" value="Pose Module" name="submit_btn"/>
					<input type="submit" value="Plank" name="submit_btn" />
					<input type="submit" value="Squat" name="submit_btn" />
					<input type="submit" value="Posture" name="submit_btn" />
					<input type="submit" value="off" name="submit_btn" />
				</form>
        	</div>
    	</div>
    </div>
    </body>
</html>
